<connectionStrings>
  <add name="apkinstallerConnectionString" connectionString="Data Source=192.168.1.55;Initial Catalog=apkinstaller;Persist Security Info=True;User ID=sa;Password=gidshddprh!123"
    providerName="System.Data.SqlClient" />
  <add name="apkinstallerConnectionString2" connectionString="Data Source=192.168.1.55;Initial Catalog=apkinstaller;Persist Security Info=True;User ID=sa;Password=gidshddprh!123"
    providerName="System.Data.SqlClient" />
</connectionStrings>
